/* -------- GLOBAL -------- */
/* GLOBAL-DECLARATIONS */
@font-face {
	font-family: "Thin";
	src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
	font-family: "Light";
	src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: "Regular";
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Medium";
	src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: "Bold";
	src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: "Dark";
	src: url(../fonts/Roboto-Black.ttf);
}

/* GLOBAL-VARIABLES */
:root {
	/* BREAKPOINTS */
	--breakpoint-sm: 600px;
	--breakpoint-md: 800px;
	--breakpoint-lg: 1000px;
	--breakpoint-xl: 1200px;
	/* COLORS */
	--background-dark: #282828;
	--background-light: #fff;
	--background-navMenu: rgba(0,0,0,0.1);
	--background-navMenu-active: rgba(0,0,0,0.3);
	--background-navMenu-hover: rgba(0,0,0,0.8);
	--color-brand-01: #f5692c;
	--color-brand-02: #e41d43;
	--color-text: #000;
	--color-text-contrast: #d6d5d5;

}
/* GLOBAL-RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
/* GLOBAL-STYLES */
body {
	/* background: url(../images/amd-banner-01.jpg) #000a27 top center no-repeat; */
	/* background: linear-gradient(to right, var(--color-brand-01), var(--color-brand-02)); */
	background-color: black;
	font-family: "Regular";
	max-width: var(--breakpoint-xl);
	margin: auto;
}
/* GLOBAL-STYLES__TEXT */
h1 {
	color: var(--color-text-contrast);
	font-size: 52px;
	/* text-align: center; */
	line-height: 58px;
	margin-bottom: 10px;
	/* text-shadow: 5px 3px 2px #000; */
}
h2 {
	color: #fff;
	font-size: 38px;
	/* text-align: left; */
	line-height: 48px;
	margin-bottom: 20px;
}
h3 {
	color: var(--color-brand-01);
	font-size: 30px;
	/* text-align: left;  */
	line-height: 38px; 
	margin-bottom: 20px;
}
p {
	color: #fff;
	font-size: 18px;
	/* text-align: left; */
	line-height: 30px;
	margin-bottom: 20px;
	width: 100%;
}
/* GLOBAL-STYLES__LINKS*/
a, a:visited {
	color: var(--color-text);
	font-family: "Bold";
	text-decoration: none;
}
a:hover {
	color: var(--color-text-contrast);
	text-decoration: none;
}
/* GLOBAL-STYLES__LISTS*/
li {
	list-style-type: none;
	list-style-position: inside;
}
/* -------- ANIMATIONS  -------- */
@keyframes slideInRight {
	from {
	  transform: translateX(100%); /* Comienza fuera de la pantalla por la derecha */
	  opacity: 0;
	}
	to {
	  transform: translateX(0); /* Termina en su posición original */
	  opacity: 1;
	}
  }

/* -------- BLOCKS -------- */
/* BLOCK-NAVIGATION */
.nav {
	min-height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, var(--color-brand-01), var(--color-brand-02));
	padding: 0 2rem;
}
/* NAV__HEADER */
.nav__header {
	width: 100%;
	height: auto;
	display: flex;
}
.nav__logo {
	max-width: 200px;
	height: auto;
	object-fit: cover;
}
/* NAV__MENU */
.nav__list {
	display: flex;
	justify-content: center;
	gap: 2rem;
}
.nav__link {
	height: 100%;
	display: block;
	text-decoration: none;
	color: var(--color-text-contrast);
	padding: 14px 16px;
}
.nav__link--active {
	text-decoration: underline;
  	text-decoration-thickness: 0.15rem;
	text-underline-offset: 0.5rem; 
}
.nav__link:hover {
	text-decoration: underline;
  	text-decoration-thickness: 0.15rem;
	text-underline-offset: 0.5rem; 
}
/* BLOCK-HEROIMAGE */
.hero {
	height: 90vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../images/amd-heroImage-01.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.hero__content {
	max-width: 30%;
	padding: 0 2rem;
}
.hero__content--with-slide {
	animation: slideInRight 1s ease-in-out;
}
.hero__button, .hero__button:visited {
	border: 1px solid var(--color-brand-02);
	color: black;
	padding: 1rem 2rem;
	display: inline-block;
	text-align: center;
	background-color: var(--color-brand-01);
	cursor: pointer;
	clear: both;
}
.hero__button:hover {
	background-color: #000;
	color: var(--color-brand-02);
}

/* BLOCK-MAIN */
.main {
	width: 100%;
	height: 100%;
	margin: auto;
	background: linear-gradient(to right, var(--color-brand-01), var(--color-brand-02));
	overflow: hidden;
	display: grid;
	grid-template-columns: 70% 30%;
}
/* BLOCK-MAIN__ARTICLE */
.main__article {
	float: left;
	background: var(--background-dark);
	padding: 2rem 4rem;
}
figure {
	width: 100%;
	margin: 30px 0;
}
figcaption {
	color: var(--color-text-contrast);
	font-size: 12px;
	font-family: "Light";
	text-align: left;
	line-height: 18px;
	margin-top: 8px;
}
/* BLOCK-MAIN__ASIDE */
.main__aside {
	float: left;
	overflow: hidden;
	padding: 2rem 0;
}
.aside__title {
	padding-left: 2rem;
}
.aside__list {
	margin-bottom: 20px;
}
.list__item a {
	font-size: 1.2em;
	color: var(--color-text);
	text-decoration: none;
	display: block;
	padding: 1rem 2rem;
	border-bottom: 1px solid #001c40;
}
.list__item a:visited {
	background-color: var(--background-dark);
}
.list__item a:hover {
	background-color: var(--background-dark);
	color: var(--color-text-contrast);
}
.shop__item {
	padding: 2rem;
	width: 100%;
}
.shop__item h3 {
	color: var(--color-text);
}
.shop__item--hover img {
	color: var(--color-text);
	transition: all 300ms ease;
}
.shop__item--hover img:hover {
	filter: brightness(150%);
	transform: scale(1.05);
}
/* BLOCK-FOOTER */
footer {
	height: 70px;
	background-color: #00071b;
	clear: both;
}
.footer {
	background-color: var(--color-text);
	color: var(--color-text-contrast);
	font-size: .9em;
	text-align: center;
	padding-top: 20px;
	width: 100%;
}


/* -------- RESPONSIVE DESIGN -------- */

@media screen and (max-width: 1000px) {
	.hero__content {
		max-width: 40%;
	}
.main {
	grid-template-columns: 60% 40%;
}
}
@media screen and (max-width: 800px) {
	.nav {
		flex-direction: column;
		justify-content: space-evenly;
		min-height: 20vh;
	}
	.nav__header {
		justify-content: center;
	}	
	.hero {
		height: 80vh;
		justify-content: flex-end;
	}
	.hero__content {
		max-width: 100%;
		padding-bottom: 2rem;
	}
	.main {
		grid-template-columns: 100%;
		
	}
	.main__aside {
		display: grid;
		grid-template-columns: 50% 50%;
	}
}
@media screen and (max-width: 600px) {
	.nav {
		min-height: 20vh;
	}	
	.hero {
		height: 80vh;
	}
	.nav__list {
		flex-wrap: wrap;
		gap: 0;
	}
	.main__aside {
		display: grid;
		grid-template-columns: 100%;
	}
}